{{^nothing}}
    <strong>Unbeantwortete Beiträge im Forum deiner Gruppe</strong>
    {{#guide}}
        <div class="guide-wrapper">
            <div class="guide-panel {{panel}}">
                <p>{{text}}</p>
            </div>
        </div>
    {{/guide}}

    {{#mirroring}}
        <div class='row'>
            <div class='span12'>
                <div class='row'>
                    <div class='bar-graph' id='dc-post-chart'></div>
                </div>
            </div>
        </div>

        <div class='row'>
            <div>
                <table class='table table-hover' id='dc-table-graph'>
                    <thead>
                    <tr class='header'>
                        <th>Datum</th>
                        <th>Beitrag</th>
                        <th>seit</th>
                    </tr>
                    </thead>
                    {{#data}}
                        <tr data-id="{{id}}">
                            <td>{{date}}</td>
                            <td>
                                <a href="https://moodle.ikarion-projekt.de/mod/forum/view.php?id={{postid}}">{{posttitle}}</a>
                            </td>
                            {{#color}}
                                <td style="color:{{color}}"><strong>{{since}}</strong></td>
                            {{/color}}
                            {{^color}}
                                <td>{{since}}</td>
                            {{/color}}
                        </tr>
                    {{/data}}
                </table>
            </div>
        </div>
    {{/mirroring}}
{{/nothing}}